<!DOCTYPE html>
<html ng-app="ticApp">
<head>
  <title>TicTacToeGame</title>
  <link rel="stylesheet" href="css/style.css">
  <link href="http://fonts.googleapis.com/css?family=Poiret+One&subset=latin,latin-ext" rel="stylesheet" type="text/css">

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.js"></script>

  <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
				<script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>

  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/TicController.js"></script>

</head>

<body ng-controller="TicController as game">

  <header>
  <h1>TIC TAC TOE</h1>
  <p> You know the rules. Get three squares in a row and you win the game!</p>
  </header>

 
  <main>

    <div id="winner">{{ game.winner}}</div>
    <div> It's player {{ game.playerID }}'s turn! </div>


    <div id = "container">
      <div class="game-box" ng-repeat="box in game.board track by $index" ng-click="game.pickBox($index)">
        {{ box.owner }}  
      </div>
    </div>

     <button id="reset" ng-click="game.clearBoard()">Reset to play a new game!</button>
     
  </main>


</body>
</html>